.nivelLogicoBaixo .line {
    cursor: pointer;
    stroke: #31615F;
    /* fill: #31615F; */
    transition: stroke 0.5s ease-in-out, fill 0.5s ease-in-out;
}

.nivelLogicoAlto .line {
    cursor: pointer;
    stroke: #3BE799;
    /* fill: #3BE799; */
    filter: drop-shadow(0 0 5px #3BE799) drop-shadow(0 0 25px #3BE799);
}

.nivelLogicoBaixo .circle {
    cursor: pointer;
    /* stroke: #31615F; */
    fill: #31615F;
    transition: stroke 0.5s ease-in-out, fill 0.5s ease-in-out;
}

.nivelLogicoAlto .circle {
    cursor: pointer;
    /* stroke: #3BE799; */
    fill: #3BE799;
    filter: drop-shadow(0 0 5px #3BE799) drop-shadow(0 0 25px #3BE799);
}

.linhaLogicoAlto {
    background-color: #31615F;
    color: white;
    filter: drop-shadow(0 0 5px #3BE799) drop-shadow(0 0 25px #3BE799);
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}