.container {
    background: rgb(235, 10, 119);
    position: relative;
    overflow: hidden;
    width: 95%;
    height: 100%;
    padding: 2vh 2vh 2vh 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* inputs */
input[type=number]::-webkit-inner-spin-button{
    opacity: 1;
    width: 6vh;
    height: 8vh;
}

input {
    width: 6vh;
    height: 8vh;
    font-size: 5vh;
    border-radius: 8px;
}


/* divs */
.dois-dig {
    background-color: brown;
}

.quatro-dig {
    background-color: darkorange;
}

.oito-dig {
    background-color:chartreuse
}

.dois-dig p,.quatro-dig p, .oito-dig p {
    text-align: center;
    font-size: 3vh;
}

/* botões  */
.manobre {
    background-color: #f3f7fe;
    color: #3b82f6;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 100px;
    height: 45px;
    transition: 0.3s;
    font-size: 1.75vh; 
}

.manobre:hover {
    background-color: #3b82f6;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
  }

/* footer  */
footer {
    background-color: #3b82f6;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.social a{
    color: #3d405b;
    font-size: 50px;
}