.nivelLogicoBaixo .line {
    cursor: pointer;
    stroke: #31615F;
    /* fill: #31615F; */
    transition: stroke 0.5s ease-in-out, fill 0.5s ease-in-out;
}

.nivelLogicoAlto .line {
    cursor: pointer;
    stroke: #3BE799;
    /* fill: #3BE799; */
    filter: drop-shadow(0 0 5px #3BE799) drop-shadow(0 0 25px #3BE799);
}

.nivelLogicoBaixo .circle {
    cursor: pointer;
    /* stroke: #31615F; */
    fill: #31615F;
    transition: stroke 0.5s ease-in-out, fill 0.5s ease-in-out;
}

.nivelLogicoAlto .circle {
    cursor: pointer;
    /* stroke: #3BE799; */
    fill: #3BE799;
    filter: drop-shadow(0 0 5px #3BE799) drop-shadow(0 0 25px #3BE799);
}

table {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 12px 16px;
    text-align: center;
}

th {
    background-color: #31615F;
    color: white;
    font-weight: 600;
}

tr:hover {
    background-color: #ddd;
    transition: background-color 0.3s ease-in-out;
}

.linhaLogicoAlto:hover {
    background-color: #3BE799;
    transition: background-color 0.3s ease-in-out;
}

.linhaLogicoAlto {
    background-color: #31615F;
    color: white;
    filter: drop-shadow(0 0 5px #3BE799) drop-shadow(0 0 25px #3BE799);
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    font-weight: 600;
}