/* ----------------------------- */
/* body e container */
body {
    font-family: "Inter", sans-serif;

    margin: 0;
    padding: 0;
    
    display: flex;
    flex-direction: column;

    background-color: #012243;
    color: #012243;
    text-align: center;

    align-items: center;
}

h1 {
    color: white;
}

.container {
    margin: 0;
    padding: 2vw;

    height: 100%;
    width: 95%;

    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

/* ----------------------------- */
/* divs do container */
.div-info, .div-mux-dois, .div-mux-quatro, .div-mux-oito {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: #d8d8d8;
    border-radius: 10px;

    overflow: auto;

    font-size: 3vh;
}
.container div p {
    margin: 0 1vw;
    padding: 0;

    text-align: justify;
}

.buttons-container {
    gap: 1.5vw;
}

.div-desenho-mux {
    margin: 2vw;
    padding: 0;

    width: 100px;
    height: 100px;

    border-color: #012243;
    border-style: solid;

    align-self: center;
    text-align: center;
}

.content-wrapper {
    padding: 1vw 1vw;
    justify-content: center;
}

.sobrelinha {
    text-decoration: overline;
}

/*.div-info {
    background-color: blue;
}

.div-mux-dois {
    background-color: brown;
}

.div-mux-quatro {
    background-color: darkorange;
}

.div-mux-oito {
    background-color:chartreuse
}

.div-mux-dois p, .div-mux-quatro p, ..div-mux-oito p {
    text-align: center;
    font-size: 3vh;
}*/

/* ----------------------------- */
/* inputs */
/* input[type=number]::-webkit-inner-spin-button{
    width: 6vh;
    height: 8vh;

    opacity: 1;
}

input {
    margin: 0;
    padding: 0;

    width: 8vh;
    height: 8vh;

    background-color: aqua;
    border-radius: 10px;

    text-align: center;
    font-size: 5vh;
} */

/* ----------------------------- */
/* botões  */
/* .manobre {
    margin: 0;
    padding: 0;

    width: 6vw;
    height: 8vh;

    background-color: #f3f7fe;
    color: #3b82f6;
    border: none;
    border-radius: 10px;

    font-size: 1.75vh; 

    cursor: pointer;
    transition: 0.3s;
}

.manobre:hover {
    background-color: #3b82f6;
    color: #fff;
    box-shadow: 0 0 0 5px #3b83f65f;
  } */

/* ----------------------------- */
/* footer  */
footer {
    margin: 0;
    padding: 0;

    width: 100%;

    display: flex;
    flex-direction: column;

    background-color: #d8d8d8
}

footer a {
    text-decoration: none;
    font-size: 15px;
}
footer a:visited {
    color: #012243;
}

footer a:hover {
    color: #285D7F;
}

/* ----------------------------- */
/* scroll  */

body::-webkit-scrollbar {
    width: 10px;
  }
  
  body::-webkit-scrollbar-track {
    background: #5E9CC5;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #012243;
    border-radius: 15px;
    border: 2px solid #336ea6;
  }
  