.container {
    background-color: blue;
    height: 80vh;
    color: white;
}

.dois-dig {
    background-color: brown;
}

.quatro-dig {
    background-color: darkorange;
}

.oito-dig {
    background-color:chartreuse
}